._DS_Store
.DS_Store
._.DS_Store
._*

._.gitignore
__pycache__/
*.py[cod]
*$py.class
*~
._*.py


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

conf/sim-cards.conf
conf/smsgate.conf
icinga/service-smsgate.conf
conf/cert.pem
conf/key.pem
cert.pem
key.pem

